@import "variables";
@import "mixins";

//buttons

.roundedButtonFilled,
.roundedButtonSecondary,
.roundedButtonTerciary {
  svg {
    margin-left: 10px;
  }

  display: flex;
  align-items: center;
  max-width: max-content;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: $font-size-xSmall;
  font-weight: $font-weight-medium;
  padding: 0.9em 1.5em;
  white-space: nowrap;
  border-radius: calc(1.5em + #{$font-size-small});
  transition: all 0.26s ease-in-out;
}

.roundedButtonFilled {
  background-color: $primary-color;
  color: $text-white;

  //--
  background: linear-gradient(
    to left,
    $primary-color 50%,
    $primary-dark-color 50%
  );

  background-size: 200% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

.roundedButtonSecondary {
  backdrop-filter: blur(5px);
  background-color: $primary-light-color;
  color: $primary-color;
  background: linear-gradient(
    to left,
    $primary-lighter-color 50%,
    $primary-light-color 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

.roundedButtonTerciary {
  background-color: transparent;
  border-color: transparent;
  color: $primary-color;
}

//inputs
.inputRounded {
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: $font-size-xSmall;
  font-weight: $font-weight-regular;
  color: $text-black;
  padding: 1.3em 1em;
  border-radius: 0.3em; //calc(0.5em + #{$font-size-small});
  transition: border-color 0.21s ease-in-out;

  @include breakpoint-up(medium) {
    font-size: $font-size-small;
  }

  &:focus {
    border-color: $primary-color;
  }
}

//container
.container {
  width: 100vw;
  padding: 0px 20px;

  @include breakpoint-up(medium) {
    margin: auto;
  }

  @include breakpoint-up(large) {
    padding: 0;
    //max-width: 1440px;
  }
}

//texts

.title {
  font-size: $font-size-large;
  font-weight: $font-weight-black;
  color: $primary-color;

  @include breakpoint-up(medium) {
    font-size: $font-size-xLarge;
  }

  @include breakpoint-up(large) {
    font-size: $font-size-xxLarge;
  }
}

.subtitle {
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  color: $text-primary;

  @include breakpoint-up(medium) {
    font-size: $font-size-medium;
  }
}

//animations
.fadeIn {
  animation: fade-in 1s both linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
