@import "variables";
@import "mixins";

//buttons

.roundedButtonFilled,
.roundedButtonSecondary,
.roundedButtonTerciary {
  svg {
    @include breakpoint-up(medium) {
      zoom: 120%;
    }
  }

  display: flex;
  align-items: center;
  max-width: max-content;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: $font-size-xSmall;
  font-weight: $font-weight-medium;
  padding: 0.7em 1.2em;
  white-space: nowrap;
  border-radius: 0.4em;
  //border-radius: calc(1.5em + #{$font-size-small});
  transition: background-position 0.26s ease-in-out,
    background-color 100ms ease-in-out, border 200ms ease-in-out;

  @include breakpoint-up(medium) {
    font-size: $font-size-small;
  }
}

.roundedButtonFilled {
  background-color: $primary-color;
  color: $text-white;

  //--

  //--

  //--
  background: linear-gradient(
    270deg,
    $primary-color 50%,
    $primary-dark-color 50%
  );

  background-size: 200% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

.roundedButtonSecondary {
  backdrop-filter: blur(5px);
  color: $text-secondary;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    270deg,
    rgba($primary-color, 0.08) 50%,
    rgba($text-secondary, 0.15) 50%
  );
  background-size: 250% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

.flex_ai_c {
  display: flex;
  align-items: center;
}

.flex_jc_sb {
  display: flex;
  justify-content: space-between;
}

.p_1 {
  padding: 1em;
}

.pb_2 {
  padding-bottom: 2em;
}

.gap_1 {
  gap: 1em;
}

.roundedButtonTerciary {
  border: 1px solid transparent;
  background-color: rgba($primary-color, 0.04);
  border-color: transparent;
  color: $text-secondary;
  font-weight: $font-weight-medium;
  //text-shadow: 2px 2px 3px rgba(0,0,0,.1);

  &:hover {
    border: 1px solid rgba($primary-color, 0.2);
    background-color: rgba($primary-color, 0.1);
  }
}

//inputs
.inputRounded {
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.05);
  font-size: $font-size-xSmall;
  font-weight: $font-weight-regular;
  color: $text-black;
  padding: 1em;
  border-radius: 0.5em;
  transition: border-color 0.21s ease-in-out;

  @include breakpoint-up(medium) {
    font-size: $font-size-small;
  }

  &:focus {
    border-color: $primary-color;
  }
}

.searchInput {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: $bg-color;
  border: 2px solid rgba(0, 0, 0, 0.05);
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 0 1em;
  transition: border-color 100ms ease-in-out;

  & > input {
    font-size: $font-size-small;
    background-color: transparent;
    flex: 1;
    outline: none;
    border: none;
    padding: 0.7em;
  }

  &:focus-within {
    border-color: $primary-color;
  }
}

.inputNumber {
  display: inline-flex;
  align-items: stretch;
  border: 2px solid rgba(0, 0, 0, 0.05);
  transition: border-color 100ms ease-in-out;

  &:focus-within {
    border-color: $primary-color;
  }

  & > input {
    font-weight: $font-weight-medium;
  }

  & > button {
    display: grid;
    place-items: center;
    background-color: $primary-color;
    color: $text-white;
    border-radius: 0;
    padding: 0 0.2em;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3em;
  gap: 1em;
  flex-wrap: wrap;
}

.noResults {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h2 {
    padding: 1em;
    border-radius: 17px;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    text-align: center;
    color: $text-gray;
    text-shadow: 5px 5px 10px rgba(#fff, 0.8);

    @include breakpoint-up(medium) {
      // position: absolute;
      // z-index: 3000;
      // top: 30%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
    }

    & > strong {
      //font-family: "Lora", "Roboto", sans-serif;
      display: block;
      font-size: $font-size-medium;
      color: $text-primary;

      @include breakpoint-up(medium) {
        font-size: $font-size-xxLarge;
      }

      @include breakpoint-up(large) {
        font-size: $font-size-SuperLarge;
        font-weight: $font-weight-black;
      }
    }
  }

  & > svg {
    opacity: 1;
    max-width: 100%;
    height: auto;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
}

//container
.container {
  width: 100%;
  padding: 0px 20px;
  margin: 2em 0;
  @include breakpoint-up(medium) {
    margin-left: auto !important;
    margin-right: auto !important;
    //margin: auto !important;
    margin: 3em 0;
  }

  @include breakpoint-up(large) {
    max-width: 1440px;
  }
}

//texts

.title {
  font-size: $font-size-large;
  font-weight: $font-weight-black;
  color: $primary-color;

  @include breakpoint-up(medium) {
    font-size: $font-size-xLarge;
  }

  @include breakpoint-up(large) {
    font-size: $font-size-xxLarge;
  }
}

.subtitle {
  font-weight: $font-weight-bold;
  letter-spacing: 0px;

  @include breakpoint-up(medium) {
    font-size: $font-size-medium;
  }
}

//animations
.fadeIn {
  animation: Fade-In 1s both linear;
}

//animations

@keyframes Fade-In {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Zoom-In {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes Fade-Right {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(0px);
  }
}
