@import "variables";
@import "mixins";

//buttons

.roundedButtonFilled,
.roundedButtonSecondary,
.roundedButtonTerciary {
  svg {
    @include breakpoint-up(medium) {
      zoom: 120%;
    }
  }

  display: flex;
  align-items: center;
  max-width: max-content;
  gap: 10px;
  width: 100%;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: $font-size-xSmall;
  font-weight: $font-weight-medium;
  padding: 0.7em 1.2em;
  white-space: nowrap;
  border-radius: 0.4em;
  //border-radius: calc(1.5em + #{$font-size-small});
  transition: background-position 0.26s ease-in-out,
    background-color 100ms ease-in-out, border 200ms ease-in-out;

  @include breakpoint-up(medium) {
    font-size: $font-size-small;
  }
}

.roundedButtonFilled {
  background-color: $primary-color;
  color: $text-white;

  //--

  //--

  //--
  background: linear-gradient(
    270deg,
    $primary-color 50%,
    $primary-dark-color 50%
  );

  background-size: 200% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

.roundedButtonSecondary {
  backdrop-filter: blur(5px);
  color: $text-secondary;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    270deg,
    rgba($primary-color, 0.08) 50%,
    rgba($text-secondary, 0.15) 50%
  );
  background-size: 250% 100%;
  background-position: right bottom;

  &:hover {
    background-position: left bottom;
  }
}

.roundedButtonTerciary {
  border: 1px solid transparent;
  background-color: rgba($primary-color, 0.04);
  border-color: transparent;
  color: $text-secondary;
  font-weight: $font-weight-medium;
  //text-shadow: 2px 2px 3px rgba(0,0,0,.1);

  &:hover {
    border: 1px solid rgba($primary-color, 0.2);
    background-color: rgba($primary-color, 0.1);
  }
}

//inputs
.inputRounded {
  position: relative;
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.05);
  font-size: $font-size-xSmall;
  font-weight: $font-weight-regular;
  color: $text-black;
  padding: 1em;
  border-radius: 0.5em;
  transition: border-color 0.21s ease-in-out;

  @include breakpoint-up(medium) {
    font-size: $font-size-small;
  }

  &:focus {
    border-color: $primary-color;
  }

  &::placeholder {
    font-weight: $font-weight-medium;
  }
}

.searchInput {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: $bg-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  padding: 0 1em;

  & > input {
    font-size: $font-size-small;
    background-color: transparent;
    flex: 1;
    outline: none;
    border: none;
    padding: 0.7em;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 3em;
}

.noResults {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > h2 {
    padding: 1em;
    border-radius: 17px;
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
    text-align: center;
    color: $text-gray;
    text-shadow: 5px 5px 10px rgba(#fff, 0.8);

    @include breakpoint-up(medium) {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $font-size-medium;
    }

    & > strong {
      display: block;
      font-size: $font-size-medium;
      margin-top: 1em;
      color: $text-primary;

      @include breakpoint-up(medium) {
        font-size: $font-size-xLarge;
      }
    }
  }

  & > svg {
    opacity: 0.2;
    max-width: 100%;
    height: auto;
  }
}

//container
.container {
  width: 100vw;
  padding: 0px 20px;

  @include breakpoint-up(medium) {
    margin: auto;
  }

  @include breakpoint-up(large) {
    padding: 0;
    //max-width: 1440px;
  }
}

//texts

// .title {
//   font-size: $font-size-large;
//   font-weight: $font-weight-black;
//   color: $primary-color;

//   @include breakpoint-up(medium) {
//     font-size: $font-size-xLarge;
//   }

//   @include breakpoint-up(large) {
//     font-size: $font-size-xxLarge;
//   }
// }

.subtitle {
  font-weight: $font-weight-bold;
  letter-spacing: 0px;

  @include breakpoint-up(medium) {
    font-size: $font-size-medium;
  }
}

//animations
.fadeIn {
  animation: Fade-In 1s both linear;
}

//animations

@keyframes Fade-In {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Zoom-In {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
