//colors

$primary-color: #0a6fad; //067bc2
$primary-dark-color: #127cbe; //0e6aa3
$primary-lighter-color: #e6f1fc;
$primary-light-color: #bbddf7;
$bg-color: #f2f7ff;
$light-gray: #acacac;
$text-black: #000000;
$text-primary: #001827;
$text-secondary: #014670;
$text-white: #ffffff;
$error: #c43d3d;

//fonts

$font-size-xxSmall: 0.8rem;
$font-size-xSmall: 1.28rem;
$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-xLarge: 3.125rem;
$font-size-xxLarge: 3.906rem;
$font-size-SuperLarge: 4.9035rem;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;
