//colors

$primary-color: #0876bb; //067bc2
$primary-dark-color: #065A8D; //0e6aa3
$primary-lighter-color: #c9e3fd;
$primary-light-color: #a1d1f5;
$secondary-color: #f78944;
$bg-color: #fEfEfE;
$bg-color-dark: #F8FBFD;
$light-gray: #acacac;
$text-black: #000000;
$text-primary: #000F14;
$text-secondary: #054D7A;
$text-white: #ffffff;
$info: #b6b312;
$error: #c43d3d;
$succes: #21a047;


//fonts

$font-size-xxSmall: 1rem;
$font-size-xSmall: 1.28rem;
$font-size-small: 1.6rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-xLarge: 3.125rem;
$font-size-xxLarge: 3.906rem;
$font-size-SuperLarge: 4.9035rem;

$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;

