@import "variables";
@import "mixins";
@import "globals";

.avatarContainer {
  * {
    user-select: none;
  }

  z-index: 3000;
  position: relative;

  ul {
    transform-origin: top right;
    animation: Fade-In 125ms linear forwards, Zoom-In 125ms cubic-bezier(0.39, 0.575, 0.565, 1) forwards;
    padding: 5px;
    backdrop-filter: blur(10px);
    margin-top: 10px;
    background: linear-gradient(to right bottom, rgba($primary-lighter-color,.05), rgba($primary-color,.02));
    background-color: rgba(255,255,255,.9);
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    flex-direction: column;
    //filter: drop-shadow(0 0 10px rgba(0,0,0,.1));
    box-shadow: -2px -2px 20px rgba(255,255,255,.9), 2px 2px 20px rgba(0,0,0,.1);
    //border: 1px solid rgba($primary-color,.15);
    //border: 1px solid rgba(0,0,0,.08);
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,.03);

    h3{
      font-weight: $font-weight-light;
      padding: .5em 20px;
    }

    span{
      font-weight: $font-weight-bold;
      font-size: $font-size-xSmall;
      padding: .5em 20px;
      margin-bottom: 1em;
    }

    hr{
      border: .5px solid rgba(0,0,0,.03);
    }

    li{
      flex: 1;
      width: 100%;
      padding: 1em;
      background-color: transparent;
      display: flex;
      justify-content: flex-start;
      max-width: none;
      border-radius: 0;

      svg{
        margin-right: 10px;
      }

      &:hover{
        background-color: rgba($primary-color,.05); 
      }
    }

    // li {
    //   cursor: pointer;
    //   border-radius: 2em;
    //   padding: 1em;
    //   text-align: center;
    //   width: 125px;
    //   color: $primary-color;
    //   background-color: $primary-light-color;
    //   font-size: $font-size-xSmall;
    //   font-weight: $font-weight-bold;

    //   &:hover {
    //     filter: brightness(102%);
    //   }
    // }
  }
}

.avatar{
 
  padding-left: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;

  &__image{
    position: relative;
    
    width: 4.5em;
    height: 4.5em;
  
    clip-path: circle();
  }
  // &:hover, &:focus{
  //   border: 3px solid rgba(6, 123, 194,.08);
  // }

  > span {
    font-size: $font-size-xSmall;
    font-weight: $font-weight-bold;
    color: $primary-color;
    margin-right: 5px;
    pointer-events: none;
  }

  img {
    pointer-events: none;
  }
  
}
