@import "variables";
@import "mixins";
@import "globals";

.avatar {
  * {
    user-select: none;
  }

  z-index: 3000;
  position: relative;
  margin-right: 10px;

  

  div {
    cursor: pointer;
    
    &:hover, &:focus{
      border: 3px solid rgba(6, 123, 194,.08);
    }

    > span {
      font-size: $font-size-xSmall;
      font-weight: $font-weight-bold;
      color: $primary-color;
      margin-right: 5px;
      pointer-events: none;
    }

    img {
      pointer-events: none;
    }
  }

  ul {
    backdrop-filter: blur(10px);
    margin-top: 10px;
    background: linear-gradient(to right bottom, rgba($primary-lighter-color,.05), rgba($primary-color,.02));
    background-color: rgba(255,255,255,.9);
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    padding: 3em 2em;
    border: 1px solid rgba($primary-color,.15);
    border-radius: 10px;

    h3{
      font-weight: $font-weight-light;
    }

    span{
      font-weight: $font-weight-bold;
      font-size: $font-size-xSmall;
      padding: 1em 0;
      margin-bottom: 1em;
    }

    hr{
      border: .5px solid rgba(0,0,0,.03);
    }

    li{
      background-color: transparent;
      justify-content: center;
      max-width: none;
      width: 100%;
      flex: 1;
      border-radius: 0;

      &:hover{
        background-color: rgba($primary-color,.05); 
      }
    }

    // li {
    //   cursor: pointer;
    //   border-radius: 2em;
    //   padding: 1em;
    //   text-align: center;
    //   width: 125px;
    //   color: $primary-color;
    //   background-color: $primary-light-color;
    //   font-size: $font-size-xSmall;
    //   font-weight: $font-weight-bold;

    //   &:hover {
    //     filter: brightness(102%);
    //   }
    // }
  }
}
