.rdw-right-aligned-block > div {
  display: inline-block;
  text-align: inherit;
}
.rdw-left-aligned-block > div {
  display: inline-block;
  text-align: inherit;
}
.rdw-center-aligned-block > div {
  display: inline-block;
  text-align: inherit;
}
.rdw-justify-aligned-block > div {
  display: inline-block;
  text-align: inherit;
}
