@import "mixins";
@import "variables";
@import "globals";

.decks {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  // gap: 10px;

  // @include breakpoint-up(medium) {
  //   grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  // }
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  border-radius: 7px;
  overflow: hidden;
  flex: 1;
  box-shadow: 0 0 10px rgba(#000, 0.05);

  &__subtitle {
    padding: 1em 0;
    font-weight: 700;
    font-size: 1.28rem;
    color: $text-gray;
    user-select: none;
  }
}

.floatButton {
  position: sticky;
  bottom: 0px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.description {
  padding: 0.5em 0;
  font-size: $font-size-xSmall;
  font-weight: $font-weight-medium;
  opacity: 0.5;

  @include breakpoint-up(medium) {
    font-size: $font-size-xSmall;
  }
}

.floatButtons {
  z-index: 1999;
  position: absolute;
  bottom: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include breakpoint-up(large) {
    bottom: 20px;
    display: none;
  }

  & > button {
    display: grid;
    place-items: center;
    //backdrop-filter: blur(3px);
    padding: 0;
    border-radius: 50%;
    max-width: none;
    width: 54px;
    height: 54px;

    & > svg {
      margin: 0;
      width: 28px;
      height: 28px;
    }
  }
}

.header {
  &__container {
    border-bottom: 1px solid rgba(#000, 0.05);
    display: grid;
    place-items: center;
    padding: 2em 0;
  }

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;

  & > h1 {
    //color: $text-primary;
    letter-spacing: 1px;
    display: flex;
    align-items: center;

    & > span {
      transition: background-color 125ms linear;
      display: grid;
      place-items: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      transform: rotateZ(180deg);
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      & > svg {
        zoom: 1.25;
      }
    }

    & > svg {
      margin-left: 5px;
      color: $text-secondary;
      text-shadow: 5px 5px 3px rgba(#000, 0.05);
    }

    & > span {
      margin-left: 5px;
      font-size: $font-size-xSmall;
    }
  }
  // & > h1 {
  //   //padding: 0.5em;
  //   margin-left: 10px;
  //   font-size: $font-size-large;
  //   padding: 0;
  //   padding-bottom: 0;

  //   @include breakpoint-up(medium) {
  //     font-size: $font-size-xLarge;
  //   }
  //   //text-shadow: 5px 5px 3px rgba(0,0,0,.05);
  // }

  & > div {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
    gap: 7px;

    & > button {
      padding: 0.7em 1em;
      height: 45px;
      border-radius: 7px;
      font-size: $font-size-small;
      font-weight: $font-weight-medium;
      display: flex;
      flex-direction: row-reverse;
      gap: 5px;
      align-items: center;
      justify-content: center;

      span {
        display: none;
        pointer-events: none;
        white-space: nowrap;
      }

      & > svg {
        pointer-events: none;
      }

      &:nth-child(1) {
        transition: background-color 125ms linear, color 125ms linear;
        //border: 1px solid transparent;
        color: $text-secondary;
        background-color: rgba($primary-color, 0.05);
        &:hover {
          //color: $text-white;
          background-color: rgba($primary-color, 0.1);
        }
      }
      &:nth-child(2) {
        transition: background-color 125ms linear, color 125ms linear;
        //border: 1px solid transparent;
        color: $error;
        background-color: rgba($error, 0.05);
        &:hover {
          color: $text-white;
          background-color: rgba($error, 0.9);
        }
      }

      @include breakpoint-up(medium) {
        flex-direction: row;
        zoom: 1;
        padding: 0.7em 1em;
        span {
          display: block;
        }
      }
    }

    @include breakpoint-up(medium) {
      justify-content: flex-end;
      flex-direction: row;
    }
  }
}

.managmentContainer {
  background-image: radial-gradient(
    rgba(#0876bb, 0.24) 0.35000000000000003px,
    $bg-color-dark 0.35000000000000003px
  );
  background-size: 7px 7px;

  $color: rgba($primary-color, 0.1);

  background-size: 7px 7px;
  background-image: repeating-linear-gradient(
    45deg,
    $color 0,
    $color 0.7000000000000001px,
    $bg-color-dark 0,
    $bg-color-dark 50%
  );

  display: flex;
  flex-direction: column;
  gap: 4em;
  margin: 4em 0;
  flex-wrap: wrap-reverse;

  @include breakpoint-up(large) {
    flex-direction: row;
    align-items: flex-end;
  }
}

.managment {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include breakpoint-up(large) {
    padding: 2em 0;
  }

  .title {
    letter-spacing: 0.2px;
    color: $text-gray;
    font-size: $font-size-xSmall;
    font-weight: $font-weight-bold;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 20px;
    flex-direction: column;
    gap: 20px;

    // @include breakpoint-up(medium) {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    @include breakpoint-up(medium) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      //justify-content: flex-start;
    }

    @include breakpoint-up(xlarge) {
      justify-content: flex-start;
    }

    &__wrapper {
      min-width: 120px;
      cursor: pointer;
      width: 100%;
      aspect-ratio: 1 / 1;
      display: grid;
      place-items: center;

      &_disabled {
        cursor: not-allowed;
        filter: grayscale(95%);
      }

      @include breakpoint-up(medium) {
        min-width: 155px;
        max-width: 250px;
      }
      &:hover {
        .card__item {
          & > svg {
            transform: translateZ(70px);
          }
          & > span {
            transform: translateZ(70px);
            // transform: translateZ(100px) scale(0.8);
            //zoom: 0.5;
          }
        }
        .card__item {
          background-position: center center;
        }
        // }
      }

      &:nth-child(4) {
        & > div {
          background: linear-gradient(
            180deg,
            rgba($primary-color, 0.8) 50%,
            rgba($primary-color, 1) 70%
          );
          background-size: 150% 300%;
          background-position: center top;

          & > span {
            color: $text-white;
            font-weight: $font-weight-medium;
            text-shadow: 0 5px 5px rgba(#000, 0.15);
          }
        }
      }
    }

    &__item {
      -webkit-font-smoothing: subpixel-antialiased;
      perspective: 500px;
      transform-style: preserve-3d;
      pointer-events: none;
      border-radius: 12px;
      width: 100%;
      height: 100%;
      background-color: $bg-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
      padding: 1.5em;

      transition: background-position 200ms linear, transform 300ms ease-in-out;

      background-color: $bg-color;
      background-image: linear-gradient(
        210deg,
        $bg-color 50%,
        rgba(0, 0, 0, 0.03) 50%
      );
      background-size: 150% 300%;
      background-position: center top;

      & > svg {
        //margin-top: calc(-1.5em - 40px);
        width: 60%;
        height: 100%;
        transition: transform 200ms ease-in-out;
        filter: drop-shadow(0 5px 3px rgba(#000, 0.05));
        @include breakpoint-up(medium) {
          width: 80%;
        }
      }

      span {
        -webkit-font-smoothing: subpixel-antialiased;
        user-select: none;
        //letter-spacing: -0.3px;
        padding: 1em 0;
        text-align: center;
        font-weight: $font-weight-bold;
        font-size: $font-size-xSmall;
        color: $text-secondary;
        white-space: nowrap;
        transition: transform 200ms ease-in-out;
        //text-shadow: 0 3px 5px rgba(#000, 0.1);

        @include breakpoint-up(xlarge) {
          font-size: $font-size-small;
        }
      }
    }
  }
}

.cards {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include breakpoint-up(large) {
    margin-left: auto;
    flex: 0;
    background-color: $bg-color;
    padding: 2em;
    border-radius: 7px;
    border: 1px solid rgba($text-gray, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

  .title {
    letter-spacing: 0.2px;
    padding-bottom: 2em;
    font-size: $font-size-xSmall;
    font-weight: $font-weight-bold;
    color: $text-gray;
  }

  &__groups {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 40px;
    background-color: $bg-color;
    @include breakpoint-up(large) {
      gap: 10px;
    }

    > div {
      padding: 1.5em;
      border-radius: 7px;
      width: 100%;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      border: 1px solid transparent;

      @include breakpoint-up(large) {
        padding: 2em;
      }

      > span {
        font-family: "Roboto Slab", "Roboto", sans-serif;
        // padding: 0 0.5em;
        font-size: $font-size-xLarge;
        font-weight: $font-weight-black;

        @include breakpoint-up(medium) {
          font-size: $font-size-xxLarge;
        }

        @include breakpoint-up(large) {
          font-size: $font-size-SuperLarge;
        }
      }

      > p {
        text-align: center;
        min-width: 58px;
        font-size: $font-size-xxSmall;
        font-weight: $font-weight-bold;

        @include breakpoint-up(medium) {
          min-width: 70px;
          font-size: $font-size-xSmall;
        }
      }

      &:nth-child(2) {
        background-color: rgba($primary-color, 0.05);
        color: $text-secondary;
        border-color: rgba($text-secondary, 0.1);
      }
      &:nth-child(1) {
        // background-color: rgba($secondary-color, 0.1);
        // color: $secondary-color;
        background-color: rgba($bg-color, 1);
        color: $text-gray;
        border-color: rgba($text-gray, 0.1);
      }
      &:nth-child(3) {
        background-color: rgba($succes, 0.1);
        color: $succes;
        border-color: rgba($succes, 0.1);
      }
    }
  }

  & > button {
    & > svg {
      margin: 0;
      margin-right: 5px;
    }
    align-self: flex-end;
    margin-bottom: 0;
    @include breakpoint-up(medium) {
      align-self: flex-end;
    }
  }
}

.emptyData {
  height: 100%;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    text-align: center;

    @include breakpoint-up(large) {
      align-items: flex-start;
      text-align: left;
    }

    & > h2 {
      font-size: $font-size-small;
      color: $text-secondary;
      font-weight: $font-weight-black;

      @include breakpoint-up(medium) {
        font-size: $font-size-large;
      }
    }

    & > p {
      font-size: $font-size-xSmall;
      font-weight: $font-weight-medium;

      @include breakpoint-up(medium) {
        font-size: $font-size-small;
      }

      & > strong {
        white-space: pre;
      }
    }
  }

  & > svg {
    overflow: visible;
    width: auto;
    height: 25vh;

    @include breakpoint-up(large) {
      width: unset;
      height: auto;
      max-width: 300px;
      flex: 1;
    }
  }

  @include breakpoint-up(large) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.toolbar {
  padding: 1.5em 0 3em 0;
}
