@import "variables";
@import "mixins";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  font-family: "Roboto", sans-serif;
}

//general
button {
  font-family: "Roboto", sans-serif;
}

input {
  font-family: "Roboto", sans-serif;
}

label {
  font-family: "Roboto", sans-serif;
}

select {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
