@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.roundedButtonFilled,
.roundedButtonSecondary,
.roundedButtonTerciary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.28rem;
  font-weight: 500;
  padding: 0.9em 1.5em;
  white-space: nowrap;
  border-radius: calc(1.5em + 1.6rem);
  -webkit-transition: all 0.26s ease-in-out;
  transition: all 0.26s ease-in-out;
}

.roundedButtonFilled svg,
.roundedButtonSecondary svg,
.roundedButtonTerciary svg {
  margin-left: 10px;
}

.roundedButtonFilled {
  background-color: #0a6fad;
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #0a6fad), color-stop(50%, #127cbe));
  background: linear-gradient(to left, #0a6fad 50%, #127cbe 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.roundedButtonFilled:hover {
  background-position: left bottom;
}

.roundedButtonSecondary {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #bbddf7;
  color: #0a6fad;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #e6f1fc), color-stop(50%, #bbddf7));
  background: linear-gradient(to left, #e6f1fc 50%, #bbddf7 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.roundedButtonSecondary:hover {
  background-position: left bottom;
}

.roundedButtonTerciary {
  background-color: transparent;
  border-color: transparent;
  color: #0a6fad;
}

.inputRounded {
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 1.28rem;
  font-weight: 400;
  color: #000000;
  padding: 1.3em 1em;
  border-radius: 0.3em;
  -webkit-transition: border-color 0.21s ease-in-out;
  transition: border-color 0.21s ease-in-out;
}

@media (min-width: 40em) {
  .inputRounded {
    font-size: 1.6rem;
  }
}

.inputRounded:focus {
  border-color: #0a6fad;
}

.container {
  width: 100vw;
  padding: 0px 20px;
}

@media (min-width: 40em) {
  .container {
    margin: auto;
  }
}

@media (min-width: 64em) {
  .container {
    padding: 0;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #0a6fad;
}

@media (min-width: 40em) {
  .title {
    font-size: 3.125rem;
  }
}

@media (min-width: 64em) {
  .title {
    font-size: 3.906rem;
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: #001827;
}

@media (min-width: 40em) {
  .subtitle {
    font-size: 2rem;
  }
}

.fadeIn {
  -webkit-animation: fade-in 1s both linear;
          animation: fade-in 1s both linear;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #001827;
  min-height: 100% !important;
  height: 100%;
}

button:disabled {
  cursor: not-allowed !important;
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
}

button {
  font-family: "Roboto", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

button:focus {
  border-color: #bbddf7;
}

input,
label,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

input::-webkit-input-placeholder,
label::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #acacac;
  font-weight: 100;
}

input:-ms-input-placeholder,
label:-ms-input-placeholder,
select:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #acacac;
  font-weight: 100;
}

input::-ms-input-placeholder,
label::-ms-input-placeholder,
select::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #acacac;
  font-weight: 100;
}

input::placeholder,
label::placeholder,
select::placeholder,
textarea::placeholder {
  color: #acacac;
  font-weight: 100;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=generals.css.map */