@import "variables";
@import "mixins";
@import "globals";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
  font-family: "Roboto", sans-serif;
  color: $text-primary;
  min-height: 100% !important;
  height: 100%;
}

//general

button:disabled {
  cursor: not-allowed !important;
  filter: grayscale(100);
}

button {
  font-family: "Roboto", sans-serif;
  justify-content: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;

  &:focus {
    border-color: $primary-light-color;
  }
}

input,
label,
select,
textarea {
  font-family: "Roboto", sans-serif;
  &::placeholder {
    color: $light-gray;
    font-weight: $font-weight-thin;
  }
}

input[type="checkbox"] {
  color: red;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  user-select: none;
}
