@import "mixins";
@import "variables";
@import "globals";

.header {
  box-shadow: 0px 0px 10px rgba(#000, 0.15);
  background-color: $primary-lighter-color;
  background-color: $bg-color;
  @include breakpoint-up(large) {
    border-bottom: none;
  }

  .container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      margin-left: 10px;
    }
  }
}

.header__user{
  justify-self: flex-end;
}
