@import "mixins";
@import "variables";
@import "globals";

.header {
  position: relative;
  z-index: 2000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  padding: 1em 2em;
  background-color: $bg-color;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(#000, 0.05);

  @include breakpoint-up(large) {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    //box-shadow: none;
  }

  &__user {
    border-left: 2px solid rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
  }

  &__searcher {
    display: none;
    flex: 1;
    @include breakpoint-up(medium) {
      display: flex;
    }
  }
}

.logo {
  display: grid;
  place-items: center;
  img {
    height: 32px;
    width: auto;
    object-fit: contain;
  }

  & > svg {
    pointer-events: none;
    width: auto;
  }
}
