@import "mixins";
@import "variables";
@import "globals";

.header {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding: 0.4em;
  position: relative;

  @include breakpoint-up(large) {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 1em;
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 5px;

    &__buttons {
      display: flex;
      gap: 1em;
    }

    &__signup,
    &__login {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 1em 1.4em;
      font-size: $font-size-xSmall;
      border-radius: 50px;

      &:hover {
        text-decoration: underline;
        text-underline-offset: 5px;
      }
    }

    &__signup {
      background-color: $primary-dark-color;
      color: $text-white !important;
    }

    &__login {
      background-color: transparent;
      color: $primary-dark-color !important;
    }
  }
}
