@import "mixins";
@import "variables";
@import "globals";

.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;

  @include breakpoint-up(medium) {
    flex-direction: row;
  }
}

.nav {
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  button {
    justify-self: flex-end;
    align-self: center;
    display: none;
    place-items: center;
    color: $text-white;
    border-radius: 15px;
    padding: 7px;
    margin: 10px;

    @include breakpoint-up(medium) {
      display: grid;
    }

    &:hover {
      background-color: rgba(#000, 0.2);
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px 0;
    gap: 10px;
    transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint-up(medium) {
      flex-direction: column;
      padding: 20px 10px;
    }

    li {
      border-radius: 40px;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      font-size: $font-size-xSmall;
      font-weight: $font-weight-medium;
      color: $text-white;
      transition: background-color 0.1s ease-in-out,
        padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

      @include breakpoint-up(medium) {
        padding: 15px;
      }

      span {
        display: none;
      }

      &:hover {
        background-color: rgba(#000, 0.2);
      }

      &.selected {
        background-color: rgba(#fff, 0.2);
        color: $text-secondary;
      }
    }
  }

  &.expanded {
    @include breakpoint-up(medium) {
      > ul {
        padding: 20px;
      }
      > ul li {
        padding: 15px 25px;
      }
      > ul li span {
        display: block;
      }

      button {
        align-self: flex-end;
      }
    }
  }
}
