@import "mixins";
@import "variables";
@import "globals";

.main {
  flex: 1;
  background-color: $bg-color-dark;
  overflow-y: auto;
  height: 100%;
  width: 100%;

  padding-bottom: 200px;

  @include breakpoint-up(large) {
    padding-bottom: 75px;
  }
  //animation: Fade-In 125ms linear forwards;
  // padding: 10px 20px;
  // @include breakpoint-up(medium) {
  //   padding: 20px 30px;
  // }

  // @include breakpoint-up(large) {
  //   border-top: 1px dashed rgba(0, 0, 0, 0.08);
  //

  //quitar despues
  & > a > img {
    animation: Bounce 2s ease-in-out infinite alternate-reverse;
  }
}
