@import "mixins";
@import "variables";
@import "globals";

.nav {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgba($primary-color, 0.1);
  background-color: rgba($primary-color, .99);


  @include breakpoint-up(large){
    background-color: $bg-color;
  }

  button {
    justify-self: flex-end;
    align-self: center;
    display: none;
    place-items: center;
    color: $primary-color;
    border-radius: 15px;
    padding: 7px;
    margin: 10px;

    @include breakpoint-up(large) {
      display: grid;
    }

    &:hover {
      background-color: rgba($primary-color, 0.2);
    }
  }

  ul {
    color: $text-white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint-up(large) {
      flex-direction: column;
      color: $primary-color;
    }

    li {
      padding: 1em;
      cursor: pointer;
      font-size: $font-size-xSmall;
      font-weight: $font-weight-medium;

      @include breakpoint-up(large){
        font-size: $font-size-small;
        padding: 0.4em;
      }

      &.selected {
        background-color: rgba($primary-color, 0.1);
      }

      & > div {
        padding: 7px;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

        @include breakpoint-up(large) {
          padding: 15px;
        }
      }

      span {
        display: none;
      }

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }
    }
  }

  &.expanded {
    @include breakpoint-up(large) {

      > ul li span {
        display: block;
      }

      button {
        align-self: flex-end;
      }
    }
  }
}
