@import "mixins";
@import "variables";
@import "globals";

.nav {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  //border-right: 1px solid rgba($primary-color, 0.1);
  //background-color: $bg-color;


  button {
    justify-self: flex-end;
    align-self: center;
    display: none;
    place-items: center;
    color: $primary-dark-color;
    border-radius: 15px;
    padding: 7px;
    margin: 10px;

    @include breakpoint-up(large) {
      display: grid;
    }

    &:hover {
      background-color: rgba(0,0,0, 0.1);
    }
  }

  ul {
    padding: 0 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);

    @include breakpoint-up(large) {
      flex-direction: column;
      gap: 0;
      padding: 0;
    }

    li {
      flex: 1;
      position: relative;
      cursor: pointer;
      font-size: $font-size-xSmall;
      font-weight: $font-weight-medium;
      opacity: .6;

      @include breakpoint-up(large){
        font-size: $font-size-small;
      }

      &.selected {
        color: $primary-color;
        opacity: 1;
        //background-color: rgba($primary-color, 0.1);
        
        &::after{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: $primary-color;
        }

        @include breakpoint-up(large){
          background-color: rgba($primary-color, 0.1);
          &::after{
            height: 100%;
            width: 0px;
            left: auto;
            right: 0;
          }
        }
      }

      & > div {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: .5em;
        //transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        border-top: 1px solid rgba(0,0,0,.1);

        @include breakpoint-up(large) {
          gap: 10px;
          justify-content: flex-start;
          padding: .8em 1.2em;
          border-top: none;
        }

        svg{
          zoom: 85%;
        }
      }

      span {
        font-size: $font-size-xxSmall;
        font-weight: $font-weight-bold;

        @include breakpoint-up(large){
          font-size: $font-size-xSmall;
        }

        @include breakpoint-up(xlarge){
          font-size: $font-size-small;
        }
      }

      &:hover {
        background-color: rgba($primary-color, 0.1);
      }
    }
  }

  &.expanded {
    @include breakpoint-up(large) {

      > ul li div {
        flex-direction: row;
        padding: .8em 2em;
      }

      button {
        align-self: flex-end;
      }
    }
  }
}
