.roundedButtonFilled,
.roundedButtonSecondary,
.roundedButtonTerciary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 1.28rem;
  font-weight: 500;
  padding: 0.9em 1.5em;
  white-space: nowrap;
  border-radius: calc(1.5em + 1.6rem);
  -webkit-transition: all 0.26s ease-in-out;
  transition: all 0.26s ease-in-out;
}

.roundedButtonFilled svg,
.roundedButtonSecondary svg,
.roundedButtonTerciary svg {
  margin-left: 10px;
}

.roundedButtonFilled {
  background-color: #0a6fad;
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #0a6fad), color-stop(50%, #127cbe));
  background: linear-gradient(to left, #0a6fad 50%, #127cbe 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.roundedButtonFilled:hover {
  background-position: left bottom;
}

.roundedButtonSecondary {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: #bbddf7;
  color: #0a6fad;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #e6f1fc), color-stop(50%, #bbddf7));
  background: linear-gradient(to left, #e6f1fc 50%, #bbddf7 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

.roundedButtonSecondary:hover {
  background-position: left bottom;
}

.roundedButtonTerciary {
  background-color: transparent;
  border-color: transparent;
  color: #0a6fad;
}

.inputRounded {
  display: block;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: 1px solid #ccc;
  font-size: 1.28rem;
  font-weight: 400;
  color: #000000;
  padding: 1.3em 1em;
  border-radius: 0.3em;
  -webkit-transition: border-color 0.21s ease-in-out;
  transition: border-color 0.21s ease-in-out;
}

@media (min-width: 40em) {
  .inputRounded {
    font-size: 1.6rem;
  }
}

.inputRounded:focus {
  border-color: #0a6fad;
}

.container {
  width: 100vw;
  padding: 0px 20px;
}

@media (min-width: 40em) {
  .container {
    margin: auto;
  }
}

@media (min-width: 64em) {
  .container {
    padding: 0;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: #0a6fad;
}

@media (min-width: 40em) {
  .title {
    font-size: 3.125rem;
  }
}

@media (min-width: 64em) {
  .title {
    font-size: 3.906rem;
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  color: #001827;
}

@media (min-width: 40em) {
  .subtitle {
    font-size: 2rem;
  }
}

.fadeIn {
  -webkit-animation: fade-in 1s both linear;
          animation: fade-in 1s both linear;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav {
  background-color: #f2f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid rgba(10, 111, 173, 0.1);
}

.nav button {
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: none;
  place-items: center;
  color: #0a6fad;
  border-radius: 15px;
  padding: 7px;
  margin: 10px;
}

@media (min-width: 40em) {
  .nav button {
    display: -ms-grid;
    display: grid;
  }
}

.nav button:hover {
  background-color: rgba(10, 111, 173, 0.2);
}

.nav ul {
  color: #0a6fad;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 0;
  gap: 10px;
  -webkit-transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 40em) {
  .nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 10px;
  }
}

.nav ul li {
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.28rem;
  font-weight: 500;
  -webkit-transition: background-color 0.1s ease-in-out, padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: background-color 0.1s ease-in-out, padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav ul li.selected {
  background-color: rgba(10, 111, 173, 0.1);
}

.nav ul li > div {
  padding: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: padding 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 40em) {
  .nav ul li > div {
    padding: 15px;
  }
}

.nav ul li span {
  display: none;
}

.nav ul li:hover {
  background-color: rgba(10, 111, 173, 0.1);
}

@media (min-width: 40em) {
  .nav.expanded > ul {
    padding: 20px 10px;
  }
  .nav.expanded > ul li div {
    padding: 15px 25px;
  }
  .nav.expanded > ul li span {
    display: block;
  }
  .nav.expanded button {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=Nav.module.css.map */