@import "mixins";
@import "variables";
@import "globals";

.signin {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  display: grid;
  place-items: center;
  background-color: $bg-color;

  &__backgroundDoodles {
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: 500px;
    opacity: 0.02;
    background-color: $bg-color;
    background-image: url("/images/doodles.png");
  }

  &__background {
    display: none;
    position: absolute;

    background-image: linear-gradient(
      to right,
      rgba($primary-color, 0.3),
      transparent
    );

    background-image: linear-gradient(to left, #43cea2, #185a9d);

    // background: linear-gradient(to left bottom, #fa709a, #fee140);

    opacity: 0.6;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    //transform: rotate(180deg);
    overflow: hidden;

    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 65%,
      1% 64.95%,
      2% 64.8%,
      3% 64.6%,
      4% 64.3%,
      5% 63.9%,
      6% 63.45%,
      7% 62.9%,
      8% 62.25%,
      9% 61.55%,
      10% 60.8%,
      11% 59.95%,
      12% 59.05%,
      13% 58.1%,
      14% 57.1%,
      15% 56.05%,
      16% 55%,
      17% 53.9%,
      18% 52.8%,
      19% 51.65%,
      20% 50.5%,
      21% 49.35%,
      22% 48.2%,
      23% 47.05%,
      24% 45.9%,
      25% 44.8%,
      26% 43.75%,
      27% 42.75%,
      28% 41.75%,
      29% 40.8%,
      30% 39.9%,
      31% 39.1%,
      32% 38.35%,
      33% 37.65%,
      34% 37.05%,
      35% 36.5%,
      36% 36.05%,
      37% 35.65%,
      38% 35.35%,
      39% 35.15%,
      40% 35.05%,
      41% 35%,
      42% 35.05%,
      43% 35.2%,
      44% 35.45%,
      45% 35.75%,
      46% 36.15%,
      47% 36.65%,
      48% 37.2%,
      49% 37.85%,
      50% 38.55%,
      51% 39.35%,
      52% 40.2%,
      53% 41.1%,
      54% 42.05%,
      55% 43.05%,
      56% 44.1%,
      57% 45.15%,
      58% 46.3%,
      59% 47.4%,
      60% 48.55%,
      61% 49.7%,
      62% 50.85%,
      63% 52%,
      64% 53.15%,
      65% 54.25%,
      66% 55.35%,
      67% 56.4%,
      68% 57.45%,
      69% 58.4%,
      70% 59.35%,
      71% 60.2%,
      72% 61.05%,
      73% 61.8%,
      74% 62.45%,
      75% 63.05%,
      76% 63.6%,
      77% 64.05%,
      78% 64.4%,
      79% 64.7%,
      80% 64.85%,
      81% 65%,
      82% 65%,
      83% 64.9%,
      84% 64.75%,
      85% 64.5%,
      86% 64.2%,
      87% 63.75%,
      88% 63.25%,
      89% 62.7%,
      90% 62.05%,
      91% 61.3%,
      92% 60.5%,
      93% 59.65%,
      94% 58.75%,
      95% 57.8%,
      96% 56.8%,
      97% 55.75%,
      98% 54.65%,
      99% 53.55%,
      100% 52.4%
    );

    @include breakpoint-up(large) {
      display: block;
    }
  }

  @include breakpoint-up(medium) {
    background-position: right top;
  }

  .container {
    width: 100%;
    z-index: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > .logo {
      cursor: pointer;
      display: grid;
      place-items: center;
      padding: 20px;

      & > svg {
        pointer-events: none;
        width: 200px;
        @include breakpoint-up(medium) {
          width: 300px;
        }
        @include breakpoint-up(large) {
          width: 500px;
          padding: 0 80px;

          & > svg {
            filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.1));
          }
        }
      }
    }

    @include breakpoint-up(large) {
      flex-direction: row;
      // gap: 200px;
    }
  }

  .formContainer {
    // background-color: rgba($bg-color, 0.2);
    // box-shadow: -3px -3px 5px #dedede, 5px 5px 5px rgba(0, 0, 0, 0.06);
    padding: 1em 2em;
    width: 90%;
    border-radius: 5px;

    @include breakpoint-up(medium) {
      padding: 2em 6em;
      max-width: 500px;
    }

    .text {
      padding: 1.5em 0;
      display: flex;
      flex-direction: column;
      gap: 0px;

      & > h1 {
        @include breakpoint-up(large) {
          white-space: nowrap;
        }
        font-size: $font-size-medium;
      }

      & > h2 {
        opacity: 0.9;
        font-size: $font-size-small;
      }

      @include breakpoint-up(large) {
        h1 {
          font-size: $font-size-xLarge;
          font-weight: $font-weight-black;
          padding-bottom: 1em;
        }

        h2 {
          line-height: 1.5;
          font-size: $font-size-small;
          font-weight: $font-weight-medium;
        }
      }
    }
  }

  .form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2em 0;

    input {
      background-color: $bg-color;
    }
    .buttonsBox {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      gap: 10px;

      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: none;
        font-size: $font-size-xSmall;
        font-weight: $font-weight-bold;
        padding: 1em;

        & > svg {
          filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.2));
        }
      }
    }
  }

  .ErrorMsg {
    font-size: $font-size-xSmall;
    font-weight: $font-weight-medium;
    color: $error;
    // border: 2px dashed rgba($error, 0.2);
    background-color: rgba($error, 0.1);
    display: none;
    text-align: left;
    align-self: flex-start;
    padding: 1em;
    border-radius: 0.7em;
    // position: absolute;
    // bottom: 70px;

    // @include breakpoint-up(medium) {
    //   bottom: 90px;
    // }
  }
}
